################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/myYAML/v16/Server/sqlite3
/.vs/myYAML/config/applicationhost.config
/.vs/myYAML/v16
